<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='ui.css') }}">
</head>
<body style= "text-align: center">

  <div class="topnav">
    <a href="/">Pesonal</a>
    <a href="/Resume">Resume</a>
    <a href="/Contact">Contact</a>
  </div>

<div style="padding-left:16px">
  <h2>Andrew Hernandez</h2>
  <h3>Personal Life</h3>
</div>

<div class= "grid-container">
    <div class = "grid-item">
      
      <h1>Family</h1>
      <div>
      <img src= "https://media.istockphoto.com/photos/portrait-of-multi-generation-family-in-yard-picture-id800406882">
      </div>
      <p>A have a wife of and 2 boys named elon and Jeff </p>

    </div>
    <div class = "grid-item">
       <h1>Born</h1>
      <small> Salinas CA</small>
      <div>
      <img src= "https://www.cardcow.com/images/set596/card00428_fr.jpg">
      </div>
      <p>I was born in salinas CA. Small city near monterey in the central coast. Theres not much to do here so if you visit just go to monterey which is like 20 minutes away. Theres an aquarium there.</p>
    </div>
     <div class = "grid-item">
      <h1>Current Home</h1>
      <small> La Jolla, CA</small>
      <div>

      <iframe width="1280" height="720" src="https://www.youtube.com/embed/G7naQ4UT1ME" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p>Here is a walk through of my current home</p>
    </div>
    
    
  </div>

</body>

</html>