<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='ui.css') }}">
</head>
<body>
<small>connect with me on linkedin</small>
    <br/>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="andrew-hernandez-750b08200"><a class="LI-simple-link" href='https://www.linkedin.com/in/andrew-hernandez-750b08200?trk=profile-badge'>Andrew Hernandez</a></div>

 <div class= "grid-container">
    <div class = "grid-item">
      
      <h1>Education</h1>
      
      <div>
      <img src ="{{ url_for('static',filename='UCSD.png') }}">
      </div>
      <p><b>University of California San Diego: Bachelor of Science in Computer Science </b>
      <br/>
         September 2017 - June 2021: First-generation university graduate
      </p>

    </div>
    <div class = "grid-item">
       <h1>Skills</h1>
        <div style="float: left; width: 50%;">
            <small>Programming Languages</small>
            <ul >
                <li>C</li>
                <li>C++</li>
                <li>Python</li>
                <li>React.js</li>
                <li>Swift/SwiftUI</li>
                <li>SQL</li>
                <li>NoSQL(GraphQL)</li>
                <li>HTML/CSS</li>
            </ul>
        </div>
        <div style="float: right; width: 50%;">
            <small>Technologies/Environments</small>
            <ul>
                <li>Git</li>
                <li>Docker</li>
                <li>AWS</li>
                <li>Linux</li>
                <li>Windows</li>
                <li>IOS Development</li>
            </ul>
        </div>

     
    </div>
    <div class = "grid-item">
      <h1>Work History</h1>
      <div>
        <img src ="{{ url_for('static',filename='Toggle_Complete_Logo.png') }}">
        <br/>
        <small><b> (Swift/SwiftUI, AWS Amplify (NoSQL), IOS Development)</b></small>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;  Social Media Application tailored to the gaming community, 
           targeting those attempting to expand their fanbase and/or attract professional gaming teams. 
           Swift/SwiftUI front-end with an AWS Amplify backend utilizing a NoSQL(GraphQL) database.
           Git Hub Repo: https://github.com/Toggle-development/TogDev2.0 </p>
        <button><a href='/git_repo'> Git Repo</a></button>
      
      </div>
     
    </div>
    
   <div class = "grid-item">
      <br/>
      <br/>
      <h1>Work Samples</h1>
      <video width="380" height="740" style = "border-radius: 20px;" controls autoplay>
        <source src="{{ url_for('static',filename='ToggleAppSample.mov') }}" type="video/mp4">
        
          Your browser does not support the video tag.
      </video>
   </div>
    
  </div>



</body>

</html>